.buttonB {
    cursor: pointer;
    border: 1px solid #02939C;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border-radius: .5rem;
    background-color: var(--green);
    font-size: 1.4rem;
    color: var(--white);
    padding: .7rem 1rem;
}